<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet href="/pygments.css" type="text/css">
    <link rel=stylesheet href="/styles/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script>
        var lang = "julia";
        var langs = {};
        function reload() {
            var samples = document.getElementsByClassName("code-section");
            for (var a = 0; a < samples.length; a++) {
                var sample = samples[a];
                var children = sample.children;
                for (var b = 0; b < children.length; b++)  {
                    var element = children[b];
                    if (element.className == lang) {
                        element.style.display = 'block';
                    } else {
                        element.style.display = 'none';
                    }
                    langs[element.className] = true;
                };
            };
        };
        window.onload = () => {
            reload();
            document.getElementById("name").innerText = pages[index];
        };
        var index = {{index}};
        var pages = [];
        var shown = true;
        function flipSidebar() {
            if (shown) {
                // hide
            } else {
                // show
            }
            shown = !shown;
        }
    </script>
    <nav id="navbar">
        <span onclick="flipSidebar()"><i class="fas fa-bars"></i></span>&nbsp;<span id="name"></span>
    </nav>
    <div class="sidenav" id="sidenav">
        {% for i, line in enumerate(summary) %}
            <p>
                {% for _ in range(line[2]) %}
                    &nbsp;
                {% endfor %}
                <a href="{{line[1]}}">{{line[0]}}</a>
                <script>pages[{{i}}] = "{{line[0]}}"</script>
            </p>
        {% endfor %}
        <hr>
    </div>
    <div class="content">
        {{md_text|safe}}
        <hr>
    </div>
</body>
</html>