[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
markdown = "*"
sh = "*"
pygments = "*"
gitpython = "*"
python-markdown-math = "*"
"jinja2" = "*"
gfm = "*"
requests = "*"
autolink = "*"
bibtexparser = "*"
pybtex = "*"

[dev-packages]

[requires]
python_version = "3"
