#navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    margin-left: 250px;
}

#navbar.no-sidebar {
    margin-left: 0px;
}

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 15px;
    line-height: 20px;
    padding-bottom: 10px;
    background: #fafafa;
    border-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: rgba(0,0,0,.07);
    font-size: 15px;
}

#sidebar.hide {
    margin-left: -250px;
}

#content {
    margin-left: 0px;
    text-align: justify;
    padding-top: 60px;
    overflow-x: hidden;
    max-width: 100%;
}

#content.on-sidebar {
    margin-left: 250px;
    width: 80%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -100%;
    }
    #sidebar.hide {
        margin-left: 0;
    }

    #content {
        margin-left: 100%;
        max-width: 100%;
    }

    #content.on-sidebar {
        margin-left: 0px;
        padding-right: 100px;
        max-width: 0%;
    }

    #navbar {
        z-index: 100;
        position: fixed;
        width: 100%;
        margin-left: 0px;
    }
    
    #navbar.no-sidebar {
        margin-left: 100%;
    }    
}

blockquote {
    color: #858585;
    border-left: 6px solid #858585;
    padding-left: 10px;
    margin-left: 30px;
}

div .codehilite {
    border-radius: 5px !important;
    padding: 10px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    overflow: hidden;
}

.bib-link:target {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    padding: 7px;
}

a {
    color: #008cff;
}

.sidenbar a {
    color: #364149;
}

.sidebar a:active {
    color: #008cff;
}